# Unused directories
.vscode
bin
debugger
device
doc
sdas
sim
support

# configure outputs
Makefile
Makefile.common
config.log
config.status
main.mk
ports.all
ports.build
sdccconf.h

# Lexer/parser outputs
SDCClex.c
SDCCy.c
SDCCy.h
version.h

# Build outputs
*.o
*.a
*.rul
*.dep