# vscode
.vscode/*
!.vscode/settings.json

# Unused directories
bin
debugger
device
doc
sdas
sim
support

# Autoconf outputs
autom4te.cache

# configure outputs
Makefile
Makefile.common
config.log
config.status
main.mk
ports.all
ports.build
sdccconf.h

# Lexer/parser outputs
SDCClex.c
SDCCy.c
SDCCy.h
version.h

# Build outputs
*.o
*.a
*.rul
*.dep
